@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.PlayerViewModel
@{
    ViewBag.Title = "ViewTeamPlayers";
}

<h2 class="UserHeader">View Team Players</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> Team Name</th>
            <th> Player Last Name</th>
            <th> Player First Initial</th>
            <th> Player Role</th>
            <th> Jersey Number</th>

        </tr>
        </thead>
    <tbody>
        @foreach (PlayerModel player in Model.Players)
        {
            <tr>
                <td> @Html.HiddenFor(m => player.PlayerID)</td>
                <td> @Html.HiddenFor(m => player.TeamID)</td>
                <td> @Html.DisplayFor(m => player.TeamName)</td>
                <td> @Html.DisplayFor(m => player.PlayerLastName)</td>
                <td> @Html.DisplayFor(m => player.PlayerFirstInitial)</td>
                <td> @Html.DisplayFor(m => player.PlayerRole)</td>
                <td> @Html.DisplayFor(m => player.JerseyNum)</td>

            </tr>
        }
    </tbody>
</table>