

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" rel="stylesheet" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/BasketballScript.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Game On</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home") <span class="sr-only">(current)</span></li>

                    @if ((string)Session["UserName"] == null) //if user hasnt logged in display these links
                    {
                        <li class="active"> @Html.ActionLink("Register User", "RegisterUser", "User")<span class="sr-only">(current)</span></li>
                        <li class="active"> @Html.ActionLink("Login", "Login", "User")<span class="sr-only">(current)</span></li>
                    }

                    @if (Session["RoleID"] != null) //if a user is logged in
                    {
                        <ul class="navbar-right">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Hey @Session["Username"]! <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="active">@Html.ActionLink("Log Out", "LogOut", "Home")</li>
                                </ul>
                            </li>
                        </ul>

                        if ((int)Session["RoleID"] == 3) //if RoleID is 3/Admin
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="active">@Html.ActionLink("View Users", "ViewUsers", "User")</li>
                                </ul>
                            </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Player<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active">@Html.ActionLink("Create Player", "CreatePlayer", "Player") </li>
                                        <li class="active">@Html.ActionLink("View Players", "ViewPlayers", "Player") </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active"> @Html.ActionLink("Create Team", "CreateTeam", "Team")</li>
                                        <li class="active"> @Html.ActionLink("View Teams", "ViewTeams", "Team")</li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Game<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active">@Html.ActionLink("Create Game", "CreateGame", "Game")</li>
                                        <li class="active"> @Html.ActionLink("View Games", "ViewGames", "Game")</li>
                                    </ul>
                                </li>

                        }
                        if ((int)Session["RoleID"] == 2)  //if RoleID = 2/PowerUser
                        {
                            //should be able to change player stats
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Player<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="active">@Html.ActionLink("Create Player", "CreatePlayer", "Player") </li>
                                    <li class="active">@Html.ActionLink("View Players", "ViewPlayers", "Player") </li>
                                </ul>
                            </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active"> @Html.ActionLink("Create Team", "CreateTeam", "Team")</li>
                                        <li class="active"> @Html.ActionLink("View Teams", "ViewTeams", "Team")</li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Game<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active">@Html.ActionLink("Create Game", "CreateGame", "Game")</li>
                                        <li class="active"> @Html.ActionLink("View Games", "ViewGames", "Game")</li>
                                    </ul>
                                </li>
                        }


                        if ((int)Session["RoleID"] == 1) //if RoleID = 1/User
                        {
                            //can create player,team & game
                            <li class="active">@Html.ActionLink("Create Player", "CreatePlayer", "Player") </li>
                            <li class="active"> @Html.ActionLink("Create Team", "CreateTeam", "Team")</li>
                            <li class="active">@Html.ActionLink("Create Game", "CreateGame", "Game")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
       
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container-fluid">
        @*<img src="@Url.Content("~/Images/Basketball-Court_Landscape2.png")" id="BackgroundImage" />*@
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


</body>
</html>