

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" rel="stylesheet" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/BasketballScript.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="ActionLinksHeader">
                    <div class="btn-group">
                        <div class="btn btn-primary btn-sm">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand ActionLinksHeader" })
                        </div>

                    </div>
                    @if ((string)Session["UserName"] == null) //if user hasnt logged in display these links
                    {
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand ActionLinksHeader" })
                        @Html.ActionLink("Register User", "RegisterUser", "User", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })
                    }

                    @if (Session["RoleID"] != null)
                    {
                        if ((int)Session["RoleID"] == 3)
                        {
                            <div class="btn-group">

                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        User
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("View Users", "ViewUsers", "User", new { area = "" }, new { @class = "navbar-brand AdminActionLinks" }) </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Player
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Create Player", "CreatePlayer", "Player", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                        <li>@Html.ActionLink("View Players", "ViewPlayers", "Player", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Team
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li> @Html.ActionLink("Create Team", "CreateTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })</li>
                                        <li> @Html.ActionLink("View Teams", "ViewTeams", "Team", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    </ul>
                                </div>
                                <div class="btn-group">

                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Game
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li> @Html.ActionLink("Create Game", "CreateGame", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                        <li> @Html.ActionLink("View Games", "ViewGames", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    </ul>
                                </div>
                            </div>
                        }

                        if ((int)Session["RoleID"] == 2)
                        {
                            //should be able to change player stats
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary">Primary</a>
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                                    <div class="btn-group">

                                        <div class="btn-group">
                                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Player
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">

                                                <li>@Html.ActionLink("Create Player", "CreatePlayer", "Player", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("View Players", "ViewPlayers", "Player", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                            </ul>
                                        </div>

                                        <div class="btn-group">
                                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Team
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li> @Html.ActionLink("Create Team", "CreateTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })</li>
                                                <li> @Html.ActionLink("View Teams", "ViewTeams", "Team", new { area = "" }, new { @class = "navbar-brand" })</li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Game
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li> @Html.ActionLink("Create Game", "CreateGame", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                                <li> @Html.ActionLink("View Games", "ViewGames", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                            </ul>
                                        </div>
                                    </div>

                        }
                        if ((int)Session["RoleID"] == 1)
                        {
                            <div class="btn-group">


                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Player
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li> @Html.ActionLink("Create Player", "CreatePlayer", "Player", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Team
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Create Team", "CreateTeam", "Team", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Game
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Create Game", "CreateGame", "Game", new { area = "" }, new { @class = "navbar-brand" }) </li>
                                    </ul>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
            <div class="UsernameLogout">
                @if (Session["Username"] != null)
                {
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <label id="UsernameLabel">Hey @Session["Username"]!</label>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Log Out", "LogOut", "Home", new { area = "" }, new { style = "color:red" }) </li>
                        </ul>
                    </div>
                }
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()
    </div><div class="container-fluid">
        @*<img src="@Url.Content("~/Images/Basketball-Court_Landscape2.png")" id="BackgroundImage" />*@
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


</body>
</html>