@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.GameViewModel
@{
    ViewBag.Title = "ScoreGame";
}

@using (Html.BeginForm("ScoreGame", "Game", FormMethod.Post))
{
<h2>Score Game</h2>

<h2> Home Team</h2>
    @Html.HiddenFor(m => m.SingleGame.HomeTeamID, new { @id ="HomeTeamID" })
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamName, new {@class = "form-control", placeholder ="m.SingleGame.HomeTeamName", @readonly="readonly"})
    
<button id="home1point" type="button">1 point</button>
<button  id="home2point" type="button">2 points</button>
<button  id="home3point" type="button">3 points</button>
@Html.LabelFor(m => m.SingleGame.HomeTeamScore)
@Html.TextBoxFor(m => m.SingleGame.HomeTeamScore, new { @id = "HomeTeamScore" })
    @Html.LabelFor(m => m.SingleGame.HomeTeamShotAttempts)
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamShotAttempts, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamShotAttempts", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.HomeTeamShotMakes)
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamShotMakes, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamShotMakes", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.HomeTeamFouls)
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamFouls, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamFouls", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.HomeTeamTimeOuts)
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamTimeOuts, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamTimeOuts", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.HomeTeamTurnOvers)
    @Html.TextBoxFor(m => m.SingleGame.HomeTeamTurnOvers, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamTurnOvers", @type = "number" })
<table>
    <tr>
        <th>Player Name</th>
        <th>Player Position</th>
        <th>Player Number</th>

    </tr>
    @foreach (PlayerModel player in Model.homeTeamPlayers)
    {
        <tr>

            <td> @Html.DisplayFor(m => player.PlayerLastName)</td>
            <td> @Html.DisplayFor(m => player.PlayerFirstInitial)</td>
            <td> @Html.DisplayFor(m => player.PlayerRole)</td>
            <td> @Html.DisplayFor(m => player.JerseyNum)</td>
            <td></td>
            <td>@Html.DisplayFor(m => player.QuarterPlayed)</td>
            <td>@Html.DisplayFor(m => player.PlayerFouls)</td>
            <td>@Html.DisplayFor(m => player.PlayerAssists)</td>
            <td>@Html.DisplayFor(m => player.PlayerShotAttempts)</td>
            <td>@Html.DisplayFor(m => player.PlayerShotMakes)</td>
            <td>@Html.DisplayFor(m => player.PlayerPoints)</td>

        </tr>
    }

</table>


<h2> Away Team</h2>
    @Html.HiddenFor(m => m.SingleGame.AwayTeamID, new { @id = "AwayTeamID" })
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamName, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamName", @readonly = "readonly"})
<button id="away1point" type="button">1 point</button>
<button id="away2point" type="button">2 points</button>
<button id="away3point" type="button">3 points</button>
@Html.LabelFor(m => m.SingleGame.AwayTeamScore)
@Html.TextBoxFor(m => m.SingleGame.AwayTeamScore, new { @id = "AwayTeamScore" })
    @Html.LabelFor(m => m.SingleGame.AwayTeamShotAttempts)
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamShotAttempts, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamShotAttempts", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.AwayTeamShotMakes)
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamShotMakes, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamShotMakes", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.AwayTeamFouls)
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamFouls, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamFouls", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.AwayTeamTimeOuts)
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamTimeOuts, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamTimeOuts", @type = "number" })
    @Html.LabelFor(m => m.SingleGame.AwayTeamTurnOvers)
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamTurnOvers, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamTurnOvers", @type = "number" })
<table>
    <tr>
        <th>Player Name</th>
        <th>Player Position</th>
        <th>Player Number</th>
        <th></th>

    </tr>
    @foreach (PlayerModel player in Model.awayTeamPlayers)
    {
        <tr>

            <td> @Html.DisplayFor(m => player.PlayerLastName)</td>
            <td> @Html.DisplayFor(m => player.PlayerFirstInitial)</td>
            <td> @Html.DisplayFor(m => player.PlayerRole)</td>
            <td> @Html.DisplayFor(m => player.JerseyNum)</td>
            <td></td>
            <td>@Html.DisplayFor(m => player.QuarterPlayed)</td>
            <td>@Html.DisplayFor(m => player.PlayerFouls)</td>
            <td>@Html.DisplayFor(m => player.PlayerAssists)</td>
            <td>@Html.DisplayFor(m => player.PlayerShotAttempts)</td>
            <td>@Html.DisplayFor(m => player.PlayerShotMakes)</td>
            <td>@Html.DisplayFor(m => player.PlayerPoints)</td>

        </tr>
    }
</table>
<input type="submit" value="Submit Game"/>
}

<script>
    $(document).ready(function () {
        $("#HomeTeamID").hide();
        $("#AwayTeamID").hide();

        $("#home1point").click(function()
        {
            HomeScorePlus1()
        });
        $("#home2point").click(function()
        {
            HomeScorePlus2()
        });
        $("#home3point").click(function()
        {
            HomeScorePlus3()
        });
        $("#away1point").click(function()
        {
            AwayScorePlus1()
        });
        $("#away2point").click(function()
        {
            AwayScorePlus2()
        });
        $("#away3point").click(function()
        {
            AwayScorePlus3()
        });

    });
</script>
