@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.GameViewModel
@{
    ViewBag.Title = "ScoreGame";
}

@using (Html.BeginForm("ScoreGame", "Game", FormMethod.Post))
{ 
    
    <h2>Score Game</h2>
    <div class="HomeTeamBorder">
        <h2 class="UserHeader"> Home Team</h2>
        <br />
        @Html.HiddenFor(m => m.SingleGame.HomeTeamID, new { @id = "HomeTeamID" })
        <div id="HomeTeamName">
            @Html.TextBoxFor(m => m.SingleGame.HomeTeamName, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamName", @readonly = "readonly" })
        </div>
        <div class="ScoreButtons">
            <button id="home1point" type="button">1 point</button>
            <button id="home2point" type="button">2 points</button>
            <br />
            <button id="home3point" type="button">3 points</button>
            @*<button id="homeMinus1" type="button">-1 point</button>*@
        </div>
        <div class="ScoreLabel">
            @Html.LabelFor(m => m.SingleGame.HomeTeamScore)
        </div>
        <div class="ScoreBox">
            @Html.TextBoxFor(m => m.SingleGame.HomeTeamScore, new { @class = "form-control", @id = "HomeTeamScore", @readonly = "readonly" })
        </div>
        
        <h3 class="UserHeader"> <span class="HomeTeamSpan"> Team Stats </span> </h3>
        <table class="HomeTeamTable">

            <tr>
                <td> @Html.LabelFor(m => m.SingleGame.HomeTeamShotAttempts)</td>
                <td> @Html.TextBoxFor(m => m.SingleGame.HomeTeamShotAttempts, new { @class = "form-control form-control-sm", placeholder = "ShotAttempts", @type = "number", @width = "10%" })</td>
                <td>@Html.LabelFor(m => m.SingleGame.HomeTeamShotMakes)  </td>
                <td>@Html.TextBoxFor(m => m.SingleGame.HomeTeamShotMakes, new { @class = "form-control form-control-sm", placeholder = "ShotMakes", @type = "number" })  </td>

            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.SingleGame.HomeTeamFouls) </td>
                <td> @Html.TextBoxFor(m => m.SingleGame.HomeTeamFouls, new { @class = "form-control form-control-sm", placeholder = "TeamFouls", @type = "number" }) </td>
                <td> @Html.LabelFor(m => m.SingleGame.HomeTeamTimeOuts) </td>
                <td> @Html.TextBoxFor(m => m.SingleGame.HomeTeamTimeOuts, new { @class = "form-control form-control-sm", placeholder = "TimeOuts", @type = "number" }) </td>
                <td> @Html.LabelFor(m => m.SingleGame.HomeTeamTurnOvers) </td>
                <td> @Html.TextBoxFor(m => m.SingleGame.HomeTeamTurnOvers, new { @class = "form-control form-control-sm", placeholder = "TurnOvers", @type = "number" }) </td>
            </tr>

        </table>

        <div class="HomePlayers">
            <h3 class="UserHeader"><span class="HomeTeamSpan">Players</span></h3>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> Last Name</th>
                    <th> First Initial</th>
                    <th>Player Position</th>
                    <th> Jersey Number</th>
                    <th>Quarters Played</th>
                    <th>Player Fouls</th>
                    <th>Assists</th>
                    <th>Shot Attempts</th>
                    <th>Shots Made</th>
                    <th>Points Scored</th>


                </tr>
                @for (int i = 0; i < Model.homeTeamPlayers.Count; i++)
                {
                    <tr>
                        <td>@Html.HiddenFor(Model => Model.homeTeamPlayers[i].PlayerID)</td>
                        <td> @Html.HiddenFor(Model => Model.homeTeamPlayers[i].TeamID)</td>
                        <td> @Html.HiddenFor(Model => Model.homeTeamPlayers[i].TeamName)</td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerLastName, new { @class = "form-control", placeholder = "player.PlayerLastName", @readonly = "readonly" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerFirstInitial, new { @class = "form-control", placeholder = "player.PlayerFirstInitial", @readonly = "readonly" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerRole, new { @class = "form-control", placeholder = "player.PlayerRole", @readonly = "readonly" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].JerseyNum, new { @class = "form-control", placeholder = "player.JerseyNum", @readonly = "readonly" }) </td>
                        @*<td><button id="HomePlayerStats" type="button" value="player.PlayerID">Input Player Stats</button></td>*@

                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].QuarterPlayed, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerFouls, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerAssists, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerShotAttempts, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerShotMakes, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>
                        <td> @Html.TextBoxFor(Model => Model.homeTeamPlayers[i].PlayerPoints, new { @class = "form-control", placeholder = " ", @type = "number" }) </td>

                        </tr>
                }


        </table>
    </div>
</div>
<div class="AwayTeamBorder">
    <h2 class="UserHeader"> Away Team</h2>
    @Html.HiddenFor(m => m.SingleGame.AwayTeamID, new { @id = "AwayTeamID" })
    @Html.TextBoxFor(m => m.SingleGame.AwayTeamName, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamName", @readonly = "readonly" })

    <div class="ScoreButtons">
        <button id="away1point" type="button">1 point</button>
        <button id="away2point" type="button">2 points</button>
        <br />
        <button id="away3point" type="button">3 points</button>
        @*<button id="awayMinus1" type="button">-1 point</button>*@
    </div>

    <div class="ScoreLabel">
        @Html.LabelFor(m => m.SingleGame.AwayTeamScore)
    </div>
    <div class="ScoreBox">
        @Html.TextBoxFor(m => m.SingleGame.AwayTeamScore, new { @class = "form-control", @id = "AwayTeamScore", @readonly = "readonly" })
    </div>

    <h3 class="UserHeader"> <span class="AwayTeamSpan"> Team Stats</span></h3>
    <table class="AwayTeamTable">

        <tr>
            <td> @Html.LabelFor(m => m.SingleGame.AwayTeamShotAttempts)</td>
            <td> @Html.TextBoxFor(m => m.SingleGame.AwayTeamShotAttempts, new { @class = "form-control form-control-sm", placeholder = "ShotAttempts", @type = "number"})</td>
            <td>@Html.LabelFor(m => m.SingleGame.AwayTeamShotMakes)  </td>
            <td>@Html.TextBoxFor(m => m.SingleGame.AwayTeamShotMakes, new { @class = "form-control form-control-sm", placeholder = "ShotMakes", @type = "number" })  </td>

        </tr>
        <tr>
            <td> @Html.LabelFor(m => m.SingleGame.AwayTeamFouls) </td>
            <td> @Html.TextBoxFor(m => m.SingleGame.AwayTeamFouls, new { @class = "form-control form-control-sm", placeholder = "TeamFouls", @type = "number" }) </td>
            <td> @Html.LabelFor(m => m.SingleGame.AwayTeamTimeOuts) </td>
            <td> @Html.TextBoxFor(m => m.SingleGame.AwayTeamTimeOuts, new { @class = "form-control form-control-sm", placeholder = "TimeOuts", @type = "number" }) </td>
            <td> @Html.LabelFor(m => m.SingleGame.AwayTeamTurnOvers) </td>
            <td> @Html.TextBoxFor(m => m.SingleGame.AwayTeamTurnOvers, new { @class = "form-control form-control-sm", placeholder = "TurnOvers", @type = "number" }) </td>
        </tr>

    </table>


    <div class="AwayPlayers">
        <h3 class="UserHeader"><span class="AwayTeamSpan">Players</span></h3>
        <table class="AwayPlayersTable">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th> Last Name</th>
                <th> First Initial</th>
                <th>Player Position</th>
                <th> Jersey Number</th>
                <th>Quarters Played</th>
                <th>Player Fouls</th>
                <th>Assists</th>
                <th>Shot Attempts</th>
                <th>Shots Made</th>
                <th>Points Scored</th>

            </tr>
            @for (int a = 0; a < Model.awayTeamPlayers.Count; a++)
            {
                <tr>
                    <td>@Html.HiddenFor(Model => Model.awayTeamPlayers[a].PlayerID)</td>
                    <td>@Html.HiddenFor(Model => Model.awayTeamPlayers[a].TeamID)</td>
                    <td>@Html.HiddenFor(Model => Model.awayTeamPlayers[a].TeamName)</td>
                    <td> @Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerLastName, new { @class = "form-control", placeholder = "player.PlayerLastName", @readonly = "readonly" })</td>
                    <td> @Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerFirstInitial, new { @class = "form-control", placeholder = "player.PlayerFirstInitial", @readonly = "readonly" })</td>
                    <td> @Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerRole, new { @class = "form-control", placeholder = "player.PlayerRole", @readonly = "readonly" })</td>
                    <td> @Html.TextBoxFor(Model => Model.awayTeamPlayers[a].JerseyNum, new { @class = "form-control", placeholder = "player.JerseyNum", @readonly = "readonly" })</td>

                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].QuarterPlayed, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerFouls, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerAssists, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerShotAttempts, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerShotMakes, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                    <td>@Html.TextBoxFor(Model => Model.awayTeamPlayers[a].PlayerPoints, new { @class = "form-control", placeholder = " ", @type = "number" })</td>

                </tr>
            }
        </table>
    </div>

</div>
    <div class="SubmitButtonPos">
        <input type="submit" value="Submit Game" />
    </div>

    @*<div id="PlayerPartialViewPopup">
            @{Html.Partial("_PlayerStatPartialPage", Model);}

        </div>*@
}

<script>
    $(document).ready(function () {
        $("#HomeTeamID").hide();
        $("#AwayTeamID").hide();

        $("#home1point").click(function () {
            HomeScorePlus1()
        });
        $("#home2point").click(function () {
            HomeScorePlus2()
        });
        $("#home3point").click(function () {
            HomeScorePlus3()
        });
        $("#homeMinus1").click(function () {
            HomeScoreMinus1()
        });
        $("#away1point").click(function () {
            AwayScorePlus1()
        });
        $("#away2point").click(function () {
            AwayScorePlus2()
        });
        $("#away3point").click(function () {
            AwayScorePlus3()
        });
        $("#awayMinus1").click(function () {
           AwayScoreMinus1()
        });


        $("#HomePlayerStats").click(function () {
            $("#PlayerStatTable").dialog({

                title: 'Add Player Stats',
                modal: true,
                open: function () {
                    $(this).load('@Url.Action("PlayerStatPartialView", "Game")');
                },
                buttons: {
                    "Click to Add Stats": function () {
                        addPlayerStats();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
            return false;
        });


        //ajax call
        function addPlayerStats() {

            //gets selected playerID to send to partial view
            var playerID = $("#HomePlayerStats").val();

            $.ajax({
                type: 'POST',
                url: "@Url.Content("/Game/PlayerStatPartialView/")",
                data: $("#PlayerStatForm").serialize(),

                //success: function (data) {

                //}

            });
        }

    });


</script>
