@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.GameViewModel
@{
    ViewBag.Title = "ScoreGame";
}

@using (Html.BeginForm("ScoreGame", "Game", FormMethod.Post))
{
    <h2>Score Game</h2>
    <div class="HomeTeamTable">
        <h2> Home Team</h2>
        @Html.HiddenFor(m => m.SingleGame.HomeTeamID, new { @id = "HomeTeamID" })
        @Html.TextBoxFor(m => m.SingleGame.HomeTeamName, new { @class = "form-control", placeholder = "m.SingleGame.HomeTeamName", @readonly = "readonly" })

        <div class="ScoreButtons">
            <button id="home1point" type="button">1 point</button>
            <button id="home2point" type="button">2 points</button>
            <br />
            <button id="home3point" type="button">3 points</button>
        </div>
        <div class="ScoreLabel">
            @Html.LabelFor(m => m.SingleGame.HomeTeamScore)
        </div>
        <div class="ScoreBox">
            @Html.TextBoxFor(m => m.SingleGame.HomeTeamScore, new { @class = "form-control", @id = "HomeTeamScore", @type = "number" })
        </div>
        <br />

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.HomeTeamShotAttempts)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.HomeTeamShotAttempts, new { @class = "form-control", placeholder = "ShotAttempts", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.HomeTeamShotMakes)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.HomeTeamShotMakes, new { @class = "form-control", placeholder = "ShotMakes", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.HomeTeamFouls)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.HomeTeamFouls, new { @class = "form-control", placeholder = "TeamFouls", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.HomeTeamTimeOuts)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.HomeTeamTimeOuts, new { @class = "form-control", placeholder = "TimeOuts", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.HomeTeamTurnOvers)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.HomeTeamTurnOvers, new { @class = "form-control", placeholder = "TurnOvers", @type = "number" })
            </div>
        </div>

        <div class="HomePlayers">
            <h3>Players</h3>
            <table>
                <tr>
                    <th> Last Name</th>
                    <th> First Initial</th>
                    <th>Player Position</th>
                    <th> Jersey Number</th>
                    <th>Quarters Played</th>
                    <th>Player Fouls</th>
                    <th>Assists</th>
                    <th>Shot Attempts</th>
                    <th>Shots Made</th>
                    <th>Points Scored</th>

                </tr>
                @foreach (PlayerModel player in Model.homeTeamPlayers)
                {
                    <tr>

                        <td> @Html.TextBoxFor(m => player.PlayerLastName, new { @class = "form-control", placeholder = "player.PlayerLastName", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.PlayerFirstInitial, new { @class = "form-control", placeholder = "player.PlayerFirstInitial", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.PlayerRole, new { @class = "form-control", placeholder = "player.PlayerRole", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.JerseyNum, new { @class = "form-control", placeholder = "player.JerseyNum", @readonly = "readonly" })</td>
                        <td><button id="HomePlayerStats" type="button" value="player.PlayerID">Input Player Stats</button></td>
                        @*<td>@Html.TextBoxFor(m => player.QuarterPlayed, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerFouls, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerAssists, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerShotAttempts, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerShotMakes, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerPoints, new { @class = "form-control", placeholder = " ", @type = "number" })</td>*@

                    </tr>
                }


            </table>
        </div>
    </div>
    <div class="AwayTeamTable">
        <h2> Away Team</h2>
        @Html.HiddenFor(m => m.SingleGame.AwayTeamID, new { @id = "AwayTeamID" })
        @Html.TextBoxFor(m => m.SingleGame.AwayTeamName, new { @class = "form-control", placeholder = "m.SingleGame.AwayTeamName", @readonly = "readonly" })

        <div class="ScoreButtons">
            <button id="away1point" type="button">1 point</button>
            <button id="away2point" type="button">2 points</button>
            <br />
            <button id="away3point" type="button">3 points</button>
        </div>

        <div class="ScoreLabel">
            @Html.LabelFor(m => m.SingleGame.AwayTeamScore)
        </div>
        <div class="ScoreBox">
            @Html.TextBoxFor(m => m.SingleGame.AwayTeamScore, new { @class = "form-control", @id = "AwayTeamScore", @type = "number" })
        </div>
        <br />
        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.AwayTeamShotAttempts)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.AwayTeamShotAttempts, new { @class = "form-control", placeholder = "ShotAttempts", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.AwayTeamShotMakes)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.AwayTeamShotMakes, new { @class = "form-control", placeholder = "ShotMakes", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.AwayTeamFouls)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.AwayTeamFouls, new { @class = "form-control", placeholder = "TeamFouls", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.AwayTeamTimeOuts)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.AwayTeamTimeOuts, new { @class = "form-control", placeholder = "TimeOuts", @type = "number" })
            </div>
        </div>

        <div class="LabelTextBox">
            @Html.LabelFor(m => m.SingleGame.AwayTeamTurnOvers)
            <div class="TeamTextBox">
                @Html.TextBoxFor(m => m.SingleGame.AwayTeamTurnOvers, new { @class = "form-control", placeholder = "TurnOvers", @type = "number" })
            </div>
        </div>
        <div class="AwayPlayers">
            <h3>Players</h3>
            <table>
                <tr>

                    <th> Last Name</th>
                    <th> First Initial</th>
                    <th>Player Position</th>
                    <th> Jersey Number</th>
                    <th>Quarters Played</th>
                    <th>Player Fouls</th>
                    <th>Assists</th>
                    <th>Shot Attempts</th>
                    <th>Shots Made</th>
                    <th>Points Scored</th>

                </tr>
                @foreach (PlayerModel player in Model.awayTeamPlayers)
                {
                    <tr>

                        <td> @Html.TextBoxFor(m => player.PlayerLastName, new { @class = "form-control", placeholder = "player.PlayerLastName", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.PlayerFirstInitial, new { @class = "form-control", placeholder = "player.PlayerFirstInitial", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.PlayerRole, new { @class = "form-control", placeholder = "player.PlayerRole", @readonly = "readonly" })</td>
                        <td> @Html.TextBoxFor(m => player.JerseyNum, new { @class = "form-control", placeholder = "player.JerseyNum", @readonly = "readonly" })</td>
                        <td><button id="AwayPlayerStats" type="button">Input Player Stats</button></td>
                        @*<td>@Html.TextBoxFor(m => player.QuarterPlayed, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerFouls, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerAssists, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerShotAttempts, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerShotMakes, new { @class = "form-control", placeholder = " ", @type = "number" })</td>
                        <td>@Html.TextBoxFor(m => player.PlayerPoints, new { @class = "form-control", placeholder = " ", @type = "number" })</td>*@

                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="SubmitButtonPos">
        <input type="submit" value="Submit Game" />
    </div>
}

<script>
    $(document).ready(function () {
        $("#HomeTeamID").hide();
        $("#AwayTeamID").hide();

        $("#home1point").click(function () {
            HomeScorePlus1()
        });
        $("#home2point").click(function () {
            HomeScorePlus2()
        });
        $("#home3point").click(function () {
            HomeScorePlus3()
        });
        $("#away1point").click(function () {
            AwayScorePlus1()
        });
        $("#away2point").click(function () {
            AwayScorePlus2()
        });
        $("#away3point").click(function () {
            AwayScorePlus3()
        });

    });
</script>
