@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.UserViewModel
@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>

@using (Html.BeginForm("PasswordReset", "User", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="UserInfoBox">
        <div class="LabelTextBoxSet">
            <div class="LabelSpacing">
                @Html.HiddenFor(m => m.SingleUser.UserID)
                @Html.LabelFor(m => m.SingleUser.UserName)
                @Html.TextBoxFor(m => m.SingleUser.UserName, new { @class = "form-control", placeholder = "m.SingleUser.UserName", @readonly = "readonly" })
            </div>
        </div>


        <div class="LabelTextBoxSet">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.Password)
                @Html.TextBoxFor(m => m.SingleUser.Password, new { @class = "form-control", placeholder = "Create Temporary Password Here", @type = "text" })
            </div>
        </div>

    </div>
    <div class="UserSubmitBox">
        <input type="submit" value="Submit" />
    </div>
}
