@using BasketballScoreBook.Models
@model BasketballScoreBook.Models.UserViewModel
@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>

@using (Html.BeginForm("PasswordReset", "User", FormMethod.Post))
{

    <div class="UserInfoBox">
        <div class="LabelDisplayTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.UserID)
                @Html.DisplayFor(m => m.SingleUser.UserID)
            </div>
        </div>


        <div class="LabelDisplayTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.UserName)
                @Html.DisplayFor(m => m.SingleUser.UserName)
            </div>
        </div>

        <div class="LabelDisplayTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.RoleID)
                @Html.DisplayFor(m => m.SingleUser.RoleID)
            </div>
        </div>

        <div class="LabelDisplayTextBoxPos">
            <div class="LabelSpacing">
                @Html.LabelFor(m => m.SingleUser.Password)
                @Html.TextBoxFor(m => m.SingleUser.Password, new { @class = "form-control", placeholder = "Create Temporary Password Here", @type = "text" })
            </div>
        </div>

    </div>

    <input type="submit" value="Submit" />

}
